
@model   ProjectManagement.Models.AboutModel

<style>
    th, td {
        border: 1px solid black;
        width: 15px;
        height: 15px;
    }
</style>
 

<h2>@Model.Message.</h2> <!-- exercitiul 7 mvc course 5-->

<font color="orange">
    <h3 style="color:orange">@Model.Author</h3> <!--exercitiul 8 mvc course 5-->
</font>


<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<p>Use this area to provide additional information.</p>

<body>
    <table style="width:100%">
        <tr>
            <th>  </th>
            <th>  </th>
            <th>  </th>
        </tr>
        <tr>
            <td>  </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>  </td>
            <td>  </td>
            <td>  </td>
        </tr>
    </table>
   
    <div style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
</body>


